.app-container{
  padding: 5px;
  margin: auto;
  text-align: center;
  max-width: 900px;
}

.app-container > *{
  padding: 5px;
  margin-top: 5px;
  border-radius: 5px;
}

.filter-container{  
  border: 1px solid #DDDDDD;
}

.filter-container > * {
  margin:5px;
}

.box-container{
  display: flex;
  align-content: center;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  border: 1px solid #DDDDDD;
}

.box{
  /* flex-grow: 1; */
  display: block;
  margin:10px;
  height: 150px;
  width: 150px;
  background-color: red;
}